{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Blogs" %}
{% endblock title %}



{% block content %}
<h2 class="text-center my-5">
    {% trans "Blogs list" %}
</h2>
<article class="d-flex flex-column gap-3">
    {% if posts %}
        {% for post in posts %}
        <section class="card">
            <img src="{{post.banner.url}}" alt="{{post.title}}" class="card-img-top">
            <div class="card-body text-center">
                <h3 class="card-title">
                    {{post.title}}
                </h3>
                <address> {% trans "Created by" %} {{post.author}} </address>
                <a href="{{post.get_absolute_url}}">{% trans "More" %}</a>
            </div>
        </section>
        {% endfor %}
    {% else %}
        <h3>{% trans "There is no blog" %}</h3>
    {% endif %}
</article>
<footer>{% comment %} paginator {% endcomment %}
    {% if posts.has_other_pages %}
        <ul class="d-flex list-unstyled my-5 justify-content-center gap-5">
            {% if posts.has_previous %}
            <li><a href="?page={{posts.previous_page_number}}">{% trans "Previous" %}</a></li>
            {% else %}
            <li class="disabled"><span>{% trans "Previous" %}</span></li>
            {% endif %}

            {% for page_number in posts.paginator.page_range %}
                {% if posts.number == page_number %}
                <li class="active"><span>{{page_number}}</span></li>
                {% else %}
                <li><a href="?page={{page_number}}">{{page_number}}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if posts.has_next %}
            <li><a href="?page={{posts.next_page_number}}">{% trans "Next" %}</a></li>
            {% else %}
            <li class="disabled"><span>{% trans "Next" %}</span></li>
            {% endif %}
        </ul>
    {% endif %}
</footer>
{% endblock content %}

