{% extends "layout.html" %}
{% load i18n %}


{% block title %}
    {% trans "Add new post" %}
{% endblock title %}



{% block content %}
{% if user.is_authenticated %}
<h2>
   {% trans "Add new post" %}
</h2>
<form action="{% url "posts:add" %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{form}}
    <button class="btn btn-primary mt-3" type="submit">{% trans "Add" %}</button>
</form>
<div class="my-5">
    {% if messages %}
    <ul class='messages'>
      {% include "tags/alert.html" %}
    </ul>
    {% endif %}
</div>
{% endif %}
{% endblock content %}
