{% extends "layout.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}
    {% trans "Blogs" %}
{% endblock title %}



{% block content %}
<h2 class="text-center my-5">
    {% trans "Blogs list" %} - {% trans "page" %} {{posts.number|apnumber}}
</h2>
<article class="d-flex flex-wrap justify-content-center  gap-3">
    {% if posts %}
        {% for post in posts %}
        <section class="card width">
            <img src="{{post.banner.url}}" alt="{{post.title}}" style="height: 125px;" class="card-img-top">
            <div class="d-flex flex-column justify-content-between card-body text-center">
                <h3 class="card-title">
                    {{post.title}}
                </h3>
                <p>{{post.content|truncatewords:30}}</p>
                <address> {% trans "Created by" %} {{post.author}} </address>
                <span>{{post.counted_views|intword}} {% trans "Views" %}</span>
                <address>{{post.published_date|naturaltime}}</address>
                <a class='btn btn-dark w-100' href="{{post.get_absolute_url}}">{% trans "More" %}</a>
            </div>
        </section>
        {% endfor %}
    {% else %}
        <h3>{% trans "There is no blog" %}</h3>
    {% endif %}
</article>
{% include "tags/paginator.html" %}
{% endblock content %}

