{% extends "layout.html" %}
{% load i18n %}


{% block title %}
    {% trans "Delete" %} {{post.title}}
{% endblock title %}



{% block content %}
{% if user.is_authenticated %}
<div class="d-flex flex-column align-items-center gap-5">
    <h2 class="my-5">
        {% trans "are you sure about delete" %} {{post.title}}{% trans "?" %}
    </h2>
    <form action="{% url "posts:delete" pk=post.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <div class="d-flex justify-content-evenly">
            <a href="{% url 'posts:list' %}" class="btn btn-primary">
                {% trans "Cancel" %}
            </a>
            <button type="submit" class="btn btn-danger">
                {% trans "Accept" %}
            </button>
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}
