{% extends "layout.html" %}
{% load i18n %}


{% block title %}
    {% trans "Add new post" %}
{% endblock title %}



{% block content %}
{% if user.is_authenticated %}
<h2>
   {% trans "Add new post" %}
</h2>
<form action="{% url "posts:add" %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{form}}
    <button class="btn btn-primary mt-3" type="submit">{% trans "Add" %}</button>
</form>
<div class="my-5">
    {% if messages %}
      {% for message in messages %}
      {% if message.tags  == 'success' %}
      <div class="alert alert-success alert-dismissible">
        <i>{{ message }}</i>
      </div>
      {% else %}
      <div class="alert alert-danger alert-dismissible">
        <i>{{ message }}</i>
      </div>
      {% endif %}
      {% endfor %}
    {% endif %}
</div>
{% endif %}
{% endblock content %}
