# Django core
django==5.2.8

# Test
pytest
pytest-django

# env file
python-decouple

# Reformat code
black
flake8

# PostgreSQL
psycopg2-binary

# celery
celery
django-celery-beat

# Media handling
pillow
django-cleanup

# Redis
redis