{% extends "layout.html" %}

{% block content %}
    <section class="hero">
        <h2>Welcome Back</h2>
        <p>Log in to access your account and manage your content.</p>
    </section>

    <section class="section login-signup">
        <h2>LogIn</h2>
        <form action="{% url 'accounts:login' %}" enctype="multipart/form-data" method="POST" id="signup-form">
            {% if data %}
                <div class="success">
                    Welcome {{data.username}}
                </div>
            {% endif %}
            {% if error %}
                <div class="alert">
                    {{error}}
                </div>
            {% endif %}
            {% csrf_token %}
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required><br>

            <button type="submit" id="submit_button" class="submit_button">LogIn</button>
        </form>
        <p>Don't have an account yet? <a href="{% url 'accounts:signup' %}">Sign up here</a></p>
    </section>
{% endblock content %}