{% extends "layout.html" %}
{% load static %}

{% block content %}
    <section class="hero">
        <h2>Join Our Community</h2>
        <p>Sign up to manage content and stay updated.</p>
    </section>

    
    <section class="section login-signup">
        <h2>Create Your Account</h2>
        <form action="{% url 'accounts:signup' %}" enctype="multipart/form-data" method="POST" id="signup-form">
            {% if data %}
                <div class="success">
                    Welcome {{data}}
                </div>
            {% endif %}
            {% if error %}
                <div class="alert">
                    {{error}}
                </div>
            {% endif %}
            {% csrf_token %}
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required><br>

            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required><br>
            
            <label for="first_name">First name</label><br>
            <input type="text" id="first_name" name="first_name" required><br>

            <label for="last_name">Last name (Optional)</label><br>
            <input type="text" id="last_name" name="last_name"><br>

            <label for="profile_image">Upload your photo(Optional):</label><br>
            <input type="file" name="profile_image" id="profile_image" accept="image/*">

            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required><br>

            <label for="password_confirm">Confirm password</label><br>
            <input type="password" id="password_confirm" name="password_confirm" required><br>

            <button type="submit" id="submit_button" class="submit_button">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'accounts:login' %}">Log in here</a></p>
    </section>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/accounts/authentications/signup.js' %}"></script>
{% endblock script %}
