main {
  margin-bottom: 9em;
}

input:not([type="file"]),
textarea {
  border: 1px solid #232323 !important;
  width: 100%;
  padding: 10px;
  color: #232323;
  outline: none;
  background: transparent;
}


label {
  font-weight: bold;
  margin-top: 2em;
  display: block !important;
}

address {
  font-style: italic !important;
}
.pre-white-space {
  white-space: pre-wrap;
  letter-spacing: 0;
}

.rtl{
  direction: rtl ;
  text-align: right;
}

[lang='en']{
  direction: ltr;
  text-align: left;
}

[lang="fa"]{
  direction: rtl;
  text-align: right;
}

#banner-clear_id{
  width: max-content;
  display: inline;
}

label[for=banner-clear_id]{
  margin-top: 0;
  display: inline !important;
}

.post-small-card-img{
  max-width: 125px;
  max-height: 61px;
}

.post-small-card-height{
  height: 64px;
}

.photo-gallery-img{
  height: 12vh;
}

@media screen and (min-width:481px) and (max-width:1024px) {
  .width{
    width: 45%;
  }
}

@media screen and (min-width:1024px) {
  .width{
    width: 25%;
  }
  .photo-gallery-img{
    height: 25vh;
  }
}

@media screen and (max-width:481px) {
  .width{
    width: 70%;
  }
}
