{% extends "layout.html" %}


{% block title %}
    Login
{% endblock title %}



{% block content %}
<h2>
    Login
</h2>
<form action="/users/login/" method="post" class='form form-with-validation' >
    {% csrf_token %}
    
    {{form}}

    {% if request.GET.next %}
        <input type='hidden' name='next' value='{{request.GET.next}}'/>
    {% endif %}
    
    <button type="submit" class="btn btn-success form-submit my-3">
        Login
    </button>

</form>


<span> 
    New user? <a href="{% url 'users:register' %}"> Register </a> 
</span>

{% endblock content %}