{% extends "layout.html" %}



{% block title %}
    User {{request.user.username}} info
{% endblock title %}




{% block content %}
    <div class="text-center">
        <h2>
            hello {{request.user.username}}
        </h2>
        <a href="{% url 'users:logout'%}">
            Exit from your account
        </a>
        <h3 class="my-5"> Your blogs </h3>
        {% if not user_posts %}{% comment %}  check if user has posts or not (if user had it , will render posts) {% endcomment %}
        You do not have any blog 
        <a href={% url "posts:add" %}>
            Create one
        </a>
        {% else %}
            {% for post in user_posts %}
            <div class="card">
                <div class="card-body ">
                    <h2 class="card-title text-center">
                        {{post.title}}
                    </h2>
                    <p class="pre-white-space">
                        {{post.content}}
                    </p>
                    <div class="text-center">
                        <a href = "{% url "posts:edit" %}?target={{post.pk}}">Edit</a>
                        <a href = "{% url "posts:details" pk=post.pk %}" class="mx-3 link-success">Details</a>
                        <a href = "{% url "posts:delete" pk=post.pk %}" class="link-danger">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <h3 class="my-5"> Your comments </h3>
        {% if not user_comments %}{% comment %}  check if user has comments or not (if user had it , will render comments) {% endcomment %}
        You do not have any comments 
        {% else %}
            {% for comment in user_comments %}
            <div class="card">
                <div class="card-body ">
                    <a href="{{comment.comment_for.get_absolute_url}}" class="card-title text-center">
                        comment for {{comment.comment_for}}
                    </a>
                    <p class="my-5">
                        {{comment.content}}
                    </p>
                    <form action="{% url "users:info" %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input type="hidden" name="comment" value="{{comment.pk}}"/>
                        <button type="submit" class="btn">
                            <a class="link-danger">
                                Delete
                            </a>
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <h3 class="my-5"> Your favorite posts </h3>
        {% if not user_favorite_posts %}{% comment %}  check if user has favorite post or not (if user had it , will render favorite posts) {% endcomment %}
        You do not have any favorite posts
        {% else %}
            {% for favorite_post in user_favorite_posts %}
            <div class="card">
                <div class="card-body">
                    <a href="{{favorite_post.post.get_absolute_url}}">
                        {{favorite_post.post.title}}
                    </a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}