{% extends "layout.html" %}


{% block title %}
    Login
{% endblock title %}



{% block content %}
<div>
    <h2>
        Registration
    </h2>
    <form action="{% url "users:register" %}" method="post" class='form form-with-validation' >
        {% csrf_token %}
        
        {{form}}
    
        
        <button type="submit" class="btn btn-success form-submit my-3">
            Register
        </button>
        
    </form>
    
    
    <span> 
        Already have account? <a href="{% url 'users:login' %}"> Login </a> 
    </span>
</div>

{% endblock content %}