{% extends "layout.html" %}
{% load static %}

{% block content %}
{% if error %}
    <div class="alert">
        {{ error }}
    </div>
{% else %}
    {% if data %}
    <div class="success">
        {{ data }}
    </div>
    {% else %}
        <section class="hero">
            <h2>Set a New Password</h2>
            <p>Enter your new password below to complete the reset process.</p>
        </section>

        <section class="section blue-section">
            <form action="{% url 'accounts:reset-confirm' code=code %}" method="POST" id="password-confirm-form">
                {% csrf_token %}
                
                
                <label for="password">New Password</label><br>
                <input type="password" id="password" name="password" required><br>
                
                <label for="password_confirm">Confirm New Password</label><br>
                <input type="password" id="password_confirm" name="password_confirm" required><br>
                
                <button type="submit" class="submit_button">Confirm Password</button>
            </form>
        </section>
    {% endif %}
{% endif %}
{% endblock content %}
