{% extends "layout.html" %}
{% load i18n %}

{% block title %}
{% trans "Contact" %}
{% endblock title %}



{% block content %}
<h2>{% trans "Contact with us" %}</h2>
<form action="" method='post'>
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-primary my-3">{% trans "SEND" %}</button>
</form>
<div class="my-5">
    {% if messages %}
      {% for message in messages %}
      {% if message.tags  == 'success' %}
      <div class="alert alert-success alert-dismissible">
        <i>{{ message }}</i>
      </div>
      {% else %}
      <div class="alert alert-danger alert-dismissible">
        <i>{{ message }}</i>
      </div>
      {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock content %}
