{% extends "layout.html" %}
{% load i18n %}


{% block title %}
    Blog app | {% trans "home page" %}
{% endblock title %}


{% block content %}
    <aside class='text-center my-5'>
        <h2>Blog app</h2>
        <p>{% trans "write your blogs and share it" %}</p>
    </aside>

    <article class="">
            <section class="my-5">
                <h3>{% trans "Latest blogs" %}</h3>
                <div class="d-flex flex-column gap-3">
                    {% for post in latest_posts %}
                    <div class="d-flex align-items-center rounded border justify-content-between">
                        {{post.lang}}
                        <img class = "rounded-start" width="174px" height="155px" src="{{post.banner.url}}" alt="{{post.title}}"/>
                        <div class="text-center w-25">
                            <h3 class="card-title">{{post.title}}</h3>
                            <address>{% trans "Created by" %} {{post.author}}</address>
                            <a href="{{post.get_absolute_url}}">{% trans "More" %}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a href="{% url "posts:list" %}">{% trans "More Blogs" %}</a>
            </section>

            <section class="my-5">
                {% if favorite_posts and user.is_authenticated %}
                    <h3>{% trans "Favorite blogs" %}</h3>
                    {% for favorite_post in favorite_posts %}
                    <div class="d-flex align-items-center rounded border justify-content-between">
                        <img class = "rounded-start" width="174px" height="155px" src="{{favorite_post.post.banner.url}}" alt="{{favorite_post.post.title}}"/>
                        <div class="text-center w-25">
                            <h3 class="card-title">{{favorite_post.post.title}}</h3>
                            <address>{% trans "Created by" %} {{favorite_post.post.author}}</address>
                            <a href="{{favorite_post.post.get_absolute_url}}">{% trans "More" %}</a>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </section>

    </article>

    <aside>
        <h3>{% trans "Recent comments" %}</h3>
        <div class="d-flex flex-column gap-3">
            {% if comments %}
            {% for comment in comments %}
            <section class="card p-3">
                <h4>
                    {% trans "Comment for" %} <a href ="{{comment.comment_for.get_absolute_url}}"> {{comment.comment_for.title}}</a>
                </h4>
                <p lang='{{comment.lang}}'>
                    {{comment.content}}
                </p>
            </section>
            {% endfor %}
            {% endif %}
        </div>

    </aside>

{% endblock content %}