{% extends "layout.html" %}


{% block title %}
    Blog app | home page
{% endblock title %}


{% block content %}
    <aside class='text-center my-5'>
        <h2>Blog app</h2>
        <p>write your blogs and share it</p>
    </aside>
    <div class="d-flex flex-wrap justify-content-between">
        <article>
                <section>
                    <h3>Latest blogs</h3>
                </section>
                <section>
                    <h3>Favorite blogs</h3>
                </section>
        </article>
        <aside>
            <h4>People comments</h4>
        </aside>
    </div>
{% endblock content %}