{% extends "layout.html" %}
{% load i18n %}




{% block title %}
{% trans "Add new podcast" %}
{% endblock title %}




{% block content %}
<h2>{% trans "Add new podcast" %}</h2>
<ul class="messages">
    {% if messages %}
        {% for message in messages %}
            <li{% if message.tags == 'error' %} class="alert alert-danger"{% else %} class="alert alert-success"{% endif %}>{{ message }}</li>
        {% endfor %}
    {% endif %}
</ul>

<form action="{% url 'podcasts:add' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">{% trans "Add" %}</button>
</form>
{% endblock content %}