{% extends "layout.html" %}
{% load i18n %}



{% block title %}
{{podcast.title}}
{% endblock title %}




{% block content %}
<div class="d-flex align-items-center flex-column gap-5">
    <h2 class='mt-5'> {{podcast.title}}</h2>
    <p> {{podcast.description}}</p>
    <audio controls>
        <source src="{{podcast.audio.url}}" type="audio/mpeg"/>
        Your browser does not support audio tag
    </audio>
    <address>{% trans "Created by" %} {{podcast.podcaster}} {% trans "on" %} {{podcast.created_date}}</address>
    <h6>{{podcast.slug}}</h6>
    <aside>
        {% include "tags/comments_form.html" %}    
        <h3 class="my-5"> {% trans "Comments" %} </h3>
        {% if comments %}
        {% include "tags/item_details_comments.html" %}
        {% else %}
        <h4>{% trans "There is no Comments for this podcast" %}</h4>
        {% endif %}
    </aside>
</div>
    {% endblock content %}