{% extends "layout.html" %}
{% load i18n %}



{% block title %}
    {% trans "Podcast" %}
{% endblock title %}


{% block content %}
    <h2>{% trans "Podcast list" %}</h2>
    {% if podcasts %}
        <article>
        {% for podcast in podcasts %}
            <section>
                <img src="{{podcast.banner.url}}" alt=""/>
                <h3>{{podcast.title}}</h3>
                <p>{{podcast.description}}</p>
                <address>{% trans "Created by" %} {{podcast.podcaster}}</address>
                <a href="{{podcast.get_absolute_url}}">{% trans "More" %}</a>
            </section>
        {% endfor %}
        </article>
    {% else %}
        <h3> {% trans "There is no Podcast to show" %} </h3>
    {% endif %}
    <footer>{% comment %} paginator {% endcomment %}
        {% if podcasts.has_other_pages %}
            <ul class="d-flex list-unstyled my-5 justify-content-center gap-5">
                {% if podcasts.has_previous %}
                <li><a href="?page={{podcasts.previous_page_number}}">{% trans "Previous" %}</a></li>
                {% else %}
                <li class="disabled"><span>{% trans "Previous" %}</span></li>
                {% endif %}
    
                {% for page_number in podcasts.paginator.page_range %}
                    {% if podcasts.number == page_number %}
                    <li class="active"><span>{{page_number}}</span></li>
                    {% else %}
                    <li><a href="?page={{page_number}}">{{page_number}}</a></li>
                    {% endif %}
                {% endfor %}
                
                {% if podcasts.has_next %}
                <li><a href="?page={{podcasts.next_page_number}}">{% trans "Next" %}</a></li>
                {% else %}
                <li class="disabled"><span>{% trans "Next" %}</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </footer>
{% endblock content %}