{% extends "layout.html" %}
{% load i18n %}
{% load humanize %}


{% block title %}
    {% trans "Podcast" %}
{% endblock title %}


{% block content %}
    <h2 class="text-center my-5">{% trans "Podcast list" %} - {% trans "page" %} {{posts.number|apnumber}} </h2>
    {% if posts %}
        <article class="d-flex flex-wrap justify-content-center  gap-3">   
        {% for podcast in posts %}
            <section class='card width'>
                <img src="{{podcast.banner.url}}" alt="{{podcast.title}}" class="card-img-top"/>
                <div  class="d-flex flex-column justify-content-between card-body text-center">
                    <h3>{{podcast.title}}</h3>
                    <p class='w-100 mx-auto my-5'>{{podcast.description|truncatewords:30}}</p>
                    <address>{% trans "Created by" %} {{podcast.podcaster}}</address>
                    <a class='btn btn-dark w-100' href="{{podcast.get_absolute_url}}">{% trans "More" %}</a>

                </div>
            </section>
        {% endfor %}
        </article>
    {% else %}
        <h3> {% trans "There is no Podcast to show" %} </h3>
    {% endif %}
    {% include "tags/paginator.html" %}
{% endblock content %}