{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Login" %}
{% endblock title %}



{% block content %}
<h2>
    {% trans "Login" %}
</h2>
<form action="{% url "users:login" %}" method="post" class='form form-with-validation' >
    {% csrf_token %}
    
    {{form}}

    {% if request.GET.next %}
        <input type='hidden' name='next' value='{{request.GET.next}}'/>
    {% endif %}
    
    <button type="submit" class="btn btn-success form-submit my-3">
        {% trans "Login" %}
    </button>

</form>
<ul class="my-5">
    {% include "tags/alert.html" %}
</ul>
<span> 
    {% trans "New user" %}{% trans "?" %} <a href="{% url 'users:register' %}"> {% trans "Register" %} </a> 
</span>

{% endblock content %}