{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Login" %}
{% endblock title %}



{% block content %}
<div>
    <h2>
        {% trans "Registration" %}
    </h2>
    <form action="{% url "users:register" %}" method="post" class='form form-with-validation' >
        {% csrf_token %}
        
        {{form}}
    
        
        <button type="submit" class="btn btn-success form-submit my-3">
            {% trans "Register" %}
        </button>
        
    </form>
    
    
    <span> 
        {% trans "Already have account" %}{% trans "?" %} <a href="{% url 'users:login' %}"> {% trans "Login" %} </a> 
    </span>
</div>

{% endblock content %}