{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Change password" %}
{% endblock title %}


{% block content %}
<h2>
    {% trans "Change password" %}
</h2>
<ul class="messages">
    {% if messages %}
        {% for message in messages %}
            <li{% if message.tags == 'error' %} class="alert alert-danger"{% else %} class="alert alert-success"{% endif %}>{{ message }}</li>
        {% endfor %}
    {% endif %}
</ul>
<form action="{% url "users:change-pass" %}" method="post">
    {% csrf_token %}
    {{change_pass_form}}
    <button class="btn btn-success mt-3" type="submit">
        {% trans "Change" %}
    </button>
</form>
{% endblock content %}