{% extends "layout.html" %}


{% block title %}
    edit post
{% endblock title %}



{% block content %}
<section>
    <h2>
        Edit blogs
    </h2>
    <form action="{% url "posts:edit" %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{form}}
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="target" value="{{request.GET.target}}">
        <button  type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</section>
<h3  class="text-center my-3">
    Your blogs
</h3>
<section class="d-flex flex-column gap-3">
    {% if not posts %}
        You do not have any blog 
        <a href={% url "posts:add" %}>
            Create one
        </a>
    {% else %}
        {% for post in posts %}
        <div class="card">
            <div class="card-body ">
                <h2 class="card-title text-center">
                    {{post.title}}
                </h2>
                <p class="pre-white-space">
                    {{post.content}}
                </p>
                <div class="text-center">
                    <a href = "{% url "posts:edit" %}?target={{post.pk}}">Edit</a>
                    <a href = "{% url "posts:delete" pk=post.pk %}" class="mx-3 link-danger">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</section>
{% endblock content %}
