{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    edit post
{% endblock title %}



{% block content %}
{% if user.is_authenticated %}
<section>
    <h2>
        {% trans "Edit blogs" %}
    </h2>
    <form action="{% url "posts:edit" %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{form}}
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="target" value="{{request.GET.target}}">
        <button  type="submit" class="btn btn-primary mt-3">{% trans "Submit" %}</button>
    </form>
</section>
<h3  class="text-center my-3">
    {% trans "Your blogs" %}
</h3>
<section class="d-flex flex-column gap-3">
    {% if not posts %}
    <h3>{% trans "You do not have any blog" %}</h3> 
    <a href={% url "posts:add" %}>
        {% trans "Create one" %}
    </a>
    {% else %}
        {% for post in posts %}
        <div class="card">
            <div class="card-body ">
                <h2 class="card-title text-center">
                    {{post.title}}
                </h2>
                <p class="pre-white-space" lang="{{post.lang}}">
                    {{post.content}}
                </p>
                <div class="text-center">
                    <a href = "{% url "posts:edit" %}?target={{post.pk}}">{% trans "Edit" %}</a>
                    <a href = "{% url "posts:delete" pk=post.pk %}" class="mx-3 link-danger">{% trans "Delete" %}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</section>
{% endif %}
{% endblock content %}
